img {
    width: 200px;
}
body {
    background-image: url("https://c1.staticflickr.com/3/2443/3711171369_6fbaf97658_b.jpg");
}
h1 {
    font-size: 66px;
    color: red
}
p {
    font-size: 66px;
    color: red
}